.lobby-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #303030;

    padding-bottom: 1rem;
}

.join-code {
    font-family: monospace;

    font-size: 1.3rem;

    letter-spacing: .2rem;

    font-weight: bold;

    color: green;
}

.leave-button {
    --red: rgb(255, 53, 53);
    font-size: 15px;
    padding: 0.7em 2.7em;
    border-radius: 0.6em;
    overflow: hidden;
    line-height: 1.4em;
    border: 2px solid var(--red);
    background: var(--red);
    color: white;
    font-size: medium;
}